{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "printWidth": 80,
  "overrides": [
    {
      "files": "firebasehooks/index.js",
      "options": {
        "semi": true,
        "singleQuote": false,
        "tabWidth": 2,
        "indent": 4
      }
    }
  ]
}
