{
  "editor.tabSize": 6,
  "editor.insertSpaces": true,
  "bracketSpacing": true,
  "overrides": [
    {
      "files": "firebasehooks/*.js",
      "options": {
        "bracketSpacing": false,
        "editor.insertSpaces": true,
        "editor.tabSize": 6
      }
    }
  ]
}
