button {
  padding: 12px 24px;
  border-radius: 10px;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  transition: all 0.2s ease-in-out;
  border: none;
  cursor: pointer;
  outline: none;

  &.icon-text-button {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 12px 12px 24px;
    box-shadow: inherit;
  }
}

button:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
