body {
  color: var(--secondary-color-dark);
  background-color: var(--primary-color-light);
}

header {
  background-color: var(--secondary-color-light);
}

// button {
//   background-color: var(--primary-color);
//   color: var(--secondary-color);
// }

// button:hover {
//   background-color: var(--primary-color-dark);
// }

// input,
// select {
//   border: 1px solid var(--primary-color);
//   background-color: var(--secondary-color-light);
// }

// .content {
//   background-color: var(--secondary-color-light);
// }

// .index {
//   color: var(--primary-color-dark);
// }

// .title {
//   color: var(--secondary-color);
// }

// .description {
//   color: var(--secondary-color-dark);
//   background-color: var(--primary-color-light);
// }

// .welcome {
//   color: var(--secondary-color);
//   background-color: var(--primary-color-light);
// }
