$primary-color: #d9e3ac;
$secondary-color: #5f7055;

$colors: (
  primary-color: $primary-color,
  primary-color-light: lighten($primary-color, 15%),
  primary-color-dark: darken($primary-color, 5%),
  secondary-color: $secondary-color,
  secondary-color-light: lighten($secondary-color, 17%),
  secondary-color-dark: darken($secondary-color, 17%),
);

:root {
  @each $key, $value in $colors {
    --#{$key}: #{$value};
  }
}
