$primary-color: #d9e3ac; // slightly desaturated green
$secondary-color: #5f7055; // deep greenish grey
$selected: #ffcc00; // universal highlight color

$colors: (
  // App
  primary-color: $primary-color,
  primary-color-light: lighten($primary-color, 15%),
  primary-color-dark: darken($primary-color, 15%),
  secondary-color: $secondary-color,
  secondary-color-light: lighten($secondary-color, 17%),
  secondary-color-dark: darken($secondary-color, 17%),
  secondary-color-dark-text: darken($secondary-color, 15%),
  selected: $selected,
  dev-todo: #e10ed7,
  // Shop
  shop-main: #ffa07a,

  // Main color for Shop
  // Kitchen
  kitchen-main: #87cefa,

  // Main color for Kitchen
  // Production
  production-main: #f0e68c,
  // Main color for Production
);

:root {
  @each $key, $value in $colors {
    --#{$key}: #{$value};
  }
}
