@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Poppins:wght@300;500;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  margin-top: 0;
  padding-top: 0;
}

h1 {
  margin: 0;
}

h2 {
  text-align: left;
}

h3,
h4,
h5,
h6 {
  text-align: center;
  margin: 1rem;
}

button {
  padding: 12px 24px;
  border-radius: 10px;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(var(--primary-color-dark), 0.1);
  white-space: nowrap;
  transition: all 0.2s ease-in-out;
  border: none;
  cursor: pointer;
  outline: none;
}

button.icon-text-button {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 12px 12px 24px;
  box-shadow: inherit;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(var(--primary-color-dark), 0.1);
}

select,
input {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  appearance: none;
  margin-top: 0.1rem;
  box-shadow: 0 2px 4px rgba(var(--primary-color-dark), 0.1);
}

label {
  font-size: 1rem;
  font-weight: lighter;
  display: block;
  padding-top: 0.5rem;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
}

.index {
  padding-inline: 2px;
  .title {
    margin-bottom: 0.5em;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
  }

  .subheading {
    font-size: 1rem;
    line-height: 1.4;
    padding: 0.4rem;
    font-weight: 300;
  }

  .description,
  .message {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    padding: 1rem;
    line-height: normal;
    box-shadow: var(--box-shadow-element);
    border-radius: 0.5rem;
    text-align: center;
  }
}

@media screen and (min-width: 800px) {
  .index {
    width: 1100px;
  }
}

.icon {
  font-size: 2rem;
}

.delivery-info {
  color: white;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  background-color: var(--primary-color);
}

@media screen and (min-width: 576px) {
  .message {
    width: 800px;
  }
}

.date-display {
  grid-column: span 4;
  padding: 0.5rem;
  text-align: center;
  background-color: var(--secondary-color);
  color: var(--secondary-color-dark-text);
  font-weight: bold;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

.slots-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

.slot {
  padding: 0.5rem;
  text-align: center;
  background-color: var(--primary-color-dark);
  color: #fff;
  border-radius: 0.25rem;
  transition: background-color 0.2s ease;
  font-size: 0.8rem;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: var(--primary-color-light);
    cursor: pointer;
  }

  &.selected-time {
    background-color: var(--selected);
  }

  &.unavailable {
    background-color: var(--dev-todo);
    cursor: not-allowed;
  }
}
