$primary-color: #d9e3ac; // slightly desaturated green
$secondary-color: #5f7055; // deep greenish grey
$selected: #ebd376; // universal highlight color

$colors: (
  primary-color: $primary-color,
  primary-color-light: lighten($primary-color, 15%),
  primary-color-dark: darken($primary-color, 15%),
  secondary-color: $secondary-color,
  secondary-color-light: lighten($secondary-color, 17%),
  secondary-color-dark: darken($secondary-color, 17%),
  secondary-color-dark-text: darken($secondary-color, 15%),
  selected: $selected,
  dev-todo: #e10ed7,
  shop-main: #ffa07a,
  kitchen-main: #87cefa,
  production-main: #f0e68c,
);

$shadows: (
  primary-shadow: 0 0 10px rgba(0, 0, 0, 0.2),
  secondary-shadow: 0 0 10px rgba($secondary-color, 0.2),
  button-shadow: 0 0 10px rgba($primary-color, 0.2),
  hover-shadow: 0px 2px 6px rgba($secondary-color, 0.2),
);

// min-width
$mobile: 576px;
$tablet: 768px;
$desktop: 992px;

:root {
  @each $key, $value in $colors {
    --#{$key}: #{$value};
  }

  @each $key, $value in $shadows {
    --#{$key}: #{$value};
  }
}
